@using MY_Ticari.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Kargo Takip Kodu</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.TakipKodu</td>
            <td>@x.Personel</td>
            <td>@x.Alici</td>
            <td>@x.Tarih</td>
            <td><a href="/CariPanel/CariKargoTakip/@x.TakipKodu" class="btn btn-danger">Detaylar</a></td>

        </tr>
    }

</table>
