@model MY_Ticari.Models.Siniflar.KargoDetay
@{
    ViewBag.Title = "YeniKargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kargo Bilgi</h2>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.TakipKodu)
    <input type="text" value="@ViewBag.takipkod" class="form-control" readonly name="TakipKodu"/>
    <br />
    @Html.LabelFor(x => x.Personel)
    @Html.TextBoxFor(x => x.Personel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Alici)
    @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    <input class="form-control" type="date" name="Tarih" />
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
